Azure Data Factory Templates/Data Migration/GetTableListAndTriggerCopyData/GetTableListAndTriggerCopyData.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"SQLDestServer":{"type":"string"},"SQLSourceServer":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/GetTableListAndTriggerCopyData')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"LookupTableList","description":"Retrieve the table list from the source database","type":"Lookup","dependsOn":[{"activity":"Drop Foreign Keys","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":"SELECT TABLE_SCHEMA, TABLE_NAME FROM information_schema.TABLES \n\tWHERE TABLE_TYPE = 'BASE TABLE' ","queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"SourceSQLServer","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"TriggerCopy","type":"ExecutePipeline","dependsOn":[{"activity":"LookupTableList","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"CopySourceSQLTables","type":"PipelineReference"},"waitOnCompletion":false,"parameters":{"tableList":{"value":"@activity('LookupTableList').output.value","type":"Expression"}}}},{"name":"Drop Foreign Keys","type":"SqlServerStoredProcedure","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[usp_DropForeignKeys]"},"linkedServiceName":{"referenceName":"[parameters('SQLDestServer')]","type":"LinkedServiceReference","parameters":{"DBName":"DB1"}}}],"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/datasets/SourceSQLServer')]","[concat(variables('factoryId'), '/pipelines/CopySourceSQLTables')]"]},{"name":"[concat(parameters('factoryName'), '/SourceSQLServer')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('SQLSourceServer')]","type":"LinkedServiceReference","parameters":{"DBName":"ProjectManagement"}},"annotations":[],"type":"AzureSqlTable","schema":[],"typeProperties":{"schema":"dbo","table":"AAtemp_SessionCleanupGroup1"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/CopySourceSQLTables')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"MigrateAllTables","type":"ForEach","dependsOn":[],"userProperties":[],"typeProperties":{"items":{"value":"@pipeline().parameters.tableList","type":"Expression"},"activities":[{"name":"Copy data1","type":"Copy","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"SELECT * FROM [@{item().TABLE_SCHEMA}].[@{item().TABLE_NAME}]","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"AzureSqlSink","preCopyScript":{"value":"TRUNCATE TABLE [@{item().TABLE_SCHEMA}].[@{item().TABLE_NAME}]","type":"Expression"},"maxConcurrentConnections":5,"tableOption":"autoCreate","disableMetricsCollection":false},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"SourceSQLServer","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"DestSQLServer","type":"DatasetReference","parameters":{"SourceTableName":{"value":"@item().TABLE_NAME","type":"Expression"},"SourceSchemaName":{"value":"@item().TABLE_SCHEMA","type":"Expression"}}}]}]}},{"name":"Recreate Foreign Keys","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"MigrateAllTables","dependencyConditions":["Completed"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[usp_CreateForeignKeys]"},"linkedServiceName":{"referenceName":"[parameters('SQLDestServer')]","type":"LinkedServiceReference","parameters":{"DBName":"DB1"}}}],"parameters":{"tableList":{"type":"array"}},"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/datasets/SourceSQLServer')]","[concat(variables('factoryId'), '/datasets/DestSQLServer')]"]},{"name":"[concat(parameters('factoryName'), '/default')]","type":"Microsoft.DataFactory/factories/managedVirtualNetworks","apiVersion":"2018-06-01","properties":{"preventDataExfiltration":false},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DestSQLServer')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('SQLDestServer')]","type":"LinkedServiceReference","parameters":{"DBName":"DB1"}},"parameters":{"SourceTableName":{"type":"string"},"SourceSchemaName":{"type":"string"}},"annotations":[],"type":"AzureSqlTable","schema":[],"typeProperties":{"schema":{"value":"@dataset().SourceSchemaName","type":"Expression"},"table":{"value":"@dataset().SourceTableName","type":"Expression"}}},"dependsOn":[]}]}